# Node rules:
## Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt


# Book build output
_book

# eBook build output
*.epub
*.mobi
*.pdf

 # 屏蔽所有node_modules目录
node_modules/
 # 屏蔽根目录下的dist目录
/dist/

tmp/

.DS_Store
.idea
.vscode
*.vim

*.log
*.lock
yarn.lock
package-lock.json
